// Temas

$primary: #087990;
$light: #E9ECEF;

// Tipografía

$font-family-sans-serif: 'Inter', sans-serif;

// Botones

$btn-padding-x-sm: 1.5rem;
$btn-padding-y-sm: .75rem;
$btn-border-radius-sm: 50rem;

$btn-padding-x: 1.5rem;
$btn-padding-y: .75rem;
$btn-border-radius: 50rem;

// Modal

$modal-backdrop-opacity: .8;