// Temas

$primary: #087990;

// Tipografía

$font-family-sans-serif: 'Inter', sans-serif;

// Botones

$btn-padding-x: 1.5rem;
$btn-padding-y: .75rem;
$btn-border-radius: 50rem;

// Modal

$modal-backdrop-opacity: .9;